div.heading {
    background-color: lightpink;
    height: 100px;
    text-align: left;
    font-size: 20px
    
}
div.welcome {
    height: 50px;
    display: center;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
}
form {
  text-align: center;
  position:relative; 
  z-index: 5;
}

